.*
!.gitignore
!.gitattributes
.class
!.idea/
!.idea/*
!.idea/.name

*~
bin/
dist/

*.bak
#*.iml
*.pdf
*.pyc

*.xml
!algvis-format.xml
!algvis-profile.xml
!build.xml
!.idea/*.xml
workspace.xml
!.idea/*/*.xml
